language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - 0.7
  - 1.0
  - nightly
env:
  - CC="gcc"
  - CC="clang"
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
addons:
  apt_packages:
  - libgmp-dev
after_success:
  - julia -e 'if VERSION >= v"0.7-"; import Pkg; end; Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'
branches:
  except:
    - release-0.1
